<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>955635028008-5162dqdpu676q2r8kunb7mljqrd31281.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.955635028008-5162dqdpu676q2r8kunb7mljqrd31281</string>
	<key>API_KEY</key>
	<string>AIzaSyDUjHxh4NTMEqtcuR5foF9nSmgJVQ6Inp8</string>
	<key>GCM_SENDER_ID</key>
	<string>955635028008</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterAp</string>
	<key>PROJECT_ID</key>
	<string>apptaxifutter</string>
	<key>STORAGE_BUCKET</key>
	<string>apptaxifutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:955635028008:ios:84caf1cbf156d35e08e51d</string>
</dict>
</plist>